/* CSS file placeholder. */

body {
    background-color: white;
}

video.bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    background-size: cover;
}

#canvas {
    color: White;

    /*font-size: 80px;*/
    font-size: 5vw;
    /*font-size:calc(100% + 2.5vw);*/
    text-align: center;

    width: 90%;

    /*margin: 50px;*/
    position: absolute;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    text-shadow: #000 0px 0px 10px, #000 0px 0px 30px, #000 0px 0px 50px, #000 0px 0px 70px;

    z-index: 5;
    /*white-space: pre;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#whiteout_layer {
    background-color: white;
    z-index: -1;

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    background-size: cover;

    transform: translateX(-50%) translateY(-50%);
}