/* CSS file placeholder. */

body{
  background-color: white;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    background-size: cover; 
}

#text_layer{
  color: White;
  
  /*font-size: 80px;*/
  font-size: 5vw;
  /*font-size:calc(100% + 2.5vw);*/
  text-align: center;
  
  width: 90%;
  
  /*margin: 50px;*/
  position: absolute;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
  text-shadow: 0px 0px 80px #000, 0px 0px 80px #000, 0px 0px 80px #000, 0px 0px 80px #000, 0px 0px 80px #000, 0px 0px 80px #000, 0px 0px 80px #000;
  
  z-index: 5;
}

#whiteout_layer{
  background-color: white;
  z-index: -1;
  
  position: fixed;
  min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    background-size: cover; 
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}